* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --first-color: #232931;
  --second-color: #393e46;
  --third-color: #3e9e7e;
  --fourth-color: #eeeeee;
  --fifth-color: #c30c0c;
  --shadow-color: rgb(30, 29, 29);
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(180deg, var(--first-color) 0%, #343d4a 50%);
  color: var(--fourth-color);
}
#header {
  background-color: var(--second-color);
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 3px var(--shadow-color);
}
#header > h1 {
  margin: 10px 0px;
  font-size: 2rem;
  text-align: center;
}
#cards-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  justify-content: center;
}
.card {
  border: 2px solid var(--third-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 2px var(--shadow-color);
}
dialog {
  background-color: var(--second-color);
  color: var(--fourth-color);
  width: 20%;
  border: 3px solid var(--third-color);
  border-radius: 10px;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}
form label {
  font-weight: bold;
  font-size: 1.3rem;
}
form input {
  font-size: 1rem;
  background-color: var(--first-color);
  border: 1px solid var(--third-color);
  color: var(--fourth-color);
  border-radius: 10px;
  height: 2.5rem;
  padding-left: 8px;
}
#checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
label[for="read"] {
  font-size: 1.3rem;
}
.modal-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.modal-btn,
#open-modal-btn,
.card-remove-btn,
.card-edit-btn {
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--first-color);
  color: var(--third-color);
  border: 1px solid var(--third-color);
  transition: 0.5s;
  cursor: pointer;
}
#open-modal-btn {
  box-sizing: content-box;
  padding: 3px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1.2rem;
}
.modal-btn:hover,
#open-modal-btn:hover,
.card-edit-btn:hover {
  background-color: var(--third-color);
  color: var(--first-color);
  border: 1px solid var(--first-color);
  cursor: pointer;
}
#close-modal-btn,
.card-remove-btn {
  background-color: var(--first-color);
  color: var(--fifth-color);
  border: 1px solid var(--fifth-color);
}
#close-modal-btn:hover,
.card-remove-btn:hover {
  background-color: var(--fifth-color);
  color: var(--first-color);
  border: 1px solid var(--first-color);
}
.card-remove-btn,
.card-edit-btn {
  font-size: 0.8rem;
}
dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.562);
}
.card-edit-btn {
  margin-right: 8px;
}
.disabled {
  display: none;
}
.show {
  display: block;
}
.card-title {
  font-size: 2rem;
  margin: 0;
}
footer {
  text-align: center;
  padding-bottom: 8px;
  margin-top: auto;
}
.read {
  background-color: var(--third-color);
}
.read,
.not-read {
  padding: 3px 5px;
  width: max-content;
  border-radius: 4px;
  font-weight: bold;
}
.not-read {
  border: 1px solid #dddada;
  color: #dddada;
}
.card-pages,
.read,
.not-read {
  margin: 0;
}
#github-link {
  font-size: 1.3rem;
}
#github-link:visited {
  color: var(--fourth-color);
}
#github-link:hover {
  color: var(--third-color);
}
.card-inner-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media all and (max-width: 1250px) {
  dialog {
    width: 30%;
  }
}
@media all and (max-width: 760px) {
  dialog {
    width: 50%;
  }
}
@media all and (max-width: 450px) {
  dialog {
    width: 90%;
  }
}
